* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    background-color: red;
}

header {
    width: 100%;
    height: 100%;
    background-color: brown;
    min-height: 100px;
    padding: 15px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: bold;
    font-weight: 700;
}

header img {

    width: 500px;
    height: 500px;
    margin-bottom: 10px;
}

main {
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: yellow;
    min-height: 100px;
    padding: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    
}

main h2 {
    font-weight: bold;
    font-weight: 700;

    font-size: 22px;
    color: black;
    
}

main h3 {
    font-weight: bold;
    font-weight: 700;

    font-size: 20px;
    color: black;
}

main h4 {
    font-weight: bold;
    font-weight: 700;

    font-size: 18px;
    color: black;
}

main h5{
    font-weight: bold;
    font-weight: 700;

    font-size: 16px;
    color: black;
}

main img{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 50%;
    
}

ul, ol{
    list-style-position: inside;
}

ul{
   display: flex;
   flex-direction: column;
    gap: 10px;
    list-style-type: circle;
    color: blue;
    text-decoration:solid;
   
 
    
}
 ol{
    display: flex;
    flex-direction: column;
     gap: 15px;
    color:rgb(167, 27, 160);
 }

dl{

    display: flex;
    flex-direction: column;
     gap: 15px;
    color:rgb(27, 167, 62);
   list-style: decimal;

}



.flanhecho {
    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 50%;

}

.caramelo {

    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 50%;
}

.dulcedeleche {

    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 50%;

}

footer {
    width: 100%;
    height: 100%;
    padding: 100px;
    background-color: rgb(0, 255, 64);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-weight: 700;

    color: black
}